.container{

 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: flex-start;
 flex-wrap: wrap;
}
.container .profileImage{
    width: 4rem;
    height: 4rem;
    background-color: black;
}
.p-10{
    gap: 1rem;
    position: relative;
   

}
.p-10 p{
    text-align: left;
}
.p-10 .profile-post{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
   
}

.p-10 .profile-post .buttons{
    width: 40rem;
    text-align: left;   
}

.p-10 .profile-post .post-image{
   width: 100%;
   height: fit-content;
   margin-bottom: 10px;
}
.p-10 .comment__input{
    border-radius: 10px;
    padding: 0.2rem;
}
.p-10 form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}
.profile{
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
  
}
.profile .description{
    text-align: left;
    width: 100%;
}
.profile div{
   
}
.profile input[type="file"], .profile .description{
    /* Add some styling to the file input */
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px;
    background-color: #f9f9f9;
    box-sizing: border-box;
  }
  .profile input[type="file"]:hover {
    /* Add some hover styling */
    border-color: #999;
    cursor: pointer;
  }
  .profile input[type="file"]:active {
    /* Add some active styling */
    border-color: #666;
  }
  input[type="file"]:active {
    /* Add some active styling */
    border-color: #666;
  }